<div class="container"">
	<div class="section">
		<div id="about-me" class="scrollspy-target scrollspy"></div>
		<h3 style="text-align:center;">About Me</h3>
		<div class="row">
			<div class="col s12">
				<div class="card hoverable">
					<div class="card-content" style="overflow: hidden">
						<div class="right" style="height: 100%; margin-left: 50px; margin-top: -24px; margin-right:
						-24px; margin-bottom: -30px">
							{% asset marcus-held.jpg class="z-depth-2" alt="Picture of Marcus Held" magick:resize="300x"%}
						</div>
						<div style="min-width: 160px; padding-top: 20px; overflow: hidden;">
							<h4>{{ site.name }}</h4>
							<p style="margin-bottom: 10px">
								I work as a <i>senior full-stack developer</i> for <a href="https://www.innogames.com/">Innogames
								GmbH</a>
								on an unannounced game. My main responsibility is the development of a <b>highly scalable backend with
								Java and Spring</b> that is capable of handling millions of players worldwide. Furthermore, I take care
								of
								our <b>Jenkins for continuous integration</b>, our build pipeline with <b>Gradle</b> and all technical
								challenges that we face to get our game out into the world.</p>

							<p>At the age of 12, I had my first experience with programming. At 15 I started working professionally
								for
								companies and by 18, prior to finishing school, I founded my first company: Web as Art. I studied
								computer
								science at <a href="https://www.h-brs.de/en">Hochschule Bonn-Rhein-Sieg</a> and live in Hamburg with my
								wife and two sons.</p>

							<div class="about-me-links">
								{% for social in site.socialmedia %}
								<a class="waves-effect waves-light btn {{ social.color }}" href="{{ social.link }}">
									<i class="fa fa-{{ social.icon }} left"></i>{{ social.text }}
								</a>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
