<div class="section">

	<div class="row amber lighten-2 z-depth-1" style="padding: 20px 0;">
		<div class="container">

			<div class="col s12 l7">
				<div class="youtube z-depth-2" data-params="?&theme=dark&autoplay=1&autohide=2&showinfo=0&rel=0">
					<div id="codetalks-thumb"
							 style="cursor: pointer; background: #fff url('{% asset portfolio/codetalks.jpg @path %}') no-repeat center; background-size: cover; width: 100%; height: auto; "
							 onclick="$('#codetalks-video').removeClass('hide'); $('#codetalks-thumb').addClass('hide')">
						{% asset misc/youtube-play.png class="responsive-img" %}
					</div>
					<div id="codetalks-video" class="video-container hide">
						<iframe width="800" height="450" src="https://www.youtube-nocookie.com/embed/WjXyBqIG1Ec" frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<div class="col s12 l5">
				<div class="card">
					<div class="card-content ">
						<span class="card-title">Boost Your Development With Proper API Design</span>
						<span class="portfolio-section-title">code.talks 2019</span>
						<p>With 1600 attendees is code.talks the largest developer conference in Germany. Around 400 people listened to my talk where I discussed several aspect of robust software architecture design.</p>
					</div>
					<div class="card-action">
						<a href="https://youtu.be/WjXyBqIG1Ec">Watch on Youtube</a>
						<a href="https://www.codetalks.de/">codetalks.de</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			{% for portfolio in site.portfolio %}
			<div class="col s12 m6">
				<div class="card sticky-action hoverable">
					<div class="card-image">
						<span class="waves-effect waves-block waves-light">{{ portfolio.image | asset: "magick:resize='600x' magick:gravity='center' magick:crop='600x300+0+0' class='activator responsive-img'" }}</span>
						<span class="btn-floating halfway-fab waves-effect waves-light red activator" style="z-index: 1">
							<i class="material-icons">more_horiz</i>
						</span>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">{{ portfolio.title | escape | improve }}</span>
					</div>
					<div class="card-action" style="z-index: 3">
						{% for link in portfolio.links %}
						<a href="{{ link.href }}">{{ link.text }}</a>
						{% endfor %}
					</div>
					<div class="card-reveal" style="z-index: 2">
					<span class="card-title grey-text text-darken-4">{{ portfolio.title }}
						<i class="material-icons right">close</i>
					</span>
						{{ portfolio.content | markdownify }}
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
