{% for skill in site.skills | sort: "title"%}
<div class="container">
  <div id="skills" class="section scrollspy">
    <h3 style="text-align:center;">{{ skill.title }}</h3>
    <div class="row">
      <div class="col s12">
        <div class="card hoverable">
          <div class="card-image">
            <span class="card-title"><a style="color:white" href=""></a></span>
          </div>
          <div class="card-content center">
            {% for data in skill.icons | sort %}
            {% assign odd = forloop.index0 | modulo:2 %}
            <i class="devicon-{{data.icon}}-plain colored tooltipped"
               style="font-size:{{site.icon_size}}px;"
               {% if odd == 0 %}
               data-position="top"
               {% endif %}
               {% if odd == 1 %}
               data-position="bottom"
               {% endif %}
               data-tooltip="{{data.tooltip}}"></i>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

