---
layout: default
---
<main class="container" style="margin-top: 70px">
  <div class="col s12">
    <h3 class="post-title" itemprop="name headline" style="text-align:center">{{ page.title | escape | improve}}</h3>

    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
    </p>

    <article class="post-content" itemprop="articleBody">
      {{ content | amp | caps | smartypants | letter_spacing }}
    </article>
  </div>
</main>
