---
layout: default
---
<style>
  .post-image {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    z-index: -1;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 100)), url("{{site.baseurl}}{{page.image | remove: "assets/images/" | asset: "magick:resize='1920x' magick:gravity='center' magick:crop='1920x300+0+0' @path"}}");
    background-repeat: no-repeat;
    background-position: center top;
  }
</style>
{% for a in site.authors %}
  {% if a.name == page.author %}
    {% assign author = a %}
  {% endif %}
{% endfor %}
<div class="post-image"></div>
<main class="container" style="padding-top: 100px">
  {% if author %}
  <div class="guest-article">Guest Article</div>
  {% endif %}
  <div class="row">
    <div class="col s12">
      <div class="right">
        {% include rss-button.html %}
      </div>
    </div>
  </div>
  <div class="row">
    <article class="col s12">
      <h3 class="post-title" itemprop="name headline" style="text-align:center">{{ page.title | escape | improve }}</h3>
      {% if author %}
      <p class="guest-author">By {{ author.name }}</p>
      {% endif %}
      <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          {{ page.date | date: date_format }}
        </time>
        <span class="right">
          Takes {{ content | reading_time | pluralize: "minute" }} to read
        </span>
      </p>

      <div class="post-content" itemprop="articleBody">
        {{ content | amp | caps | smartypants | letter_spacing }}
      </div>
    </article>
  </div>

  {% include post-footer.html %}
  
</main>
