---
layout: default
permalink: /404.html
---
<main class="container">
  <div class="card medium">
    <div class="card-image waves-effect waves-block waves-light">
      {{ "404.jpg" | asset: "magick:resize='1500x' magick:gravity='center' magick:crop='1500x300+0+0'" }}
    </div>
    <span class="card-title" style="text-align: center;display: block;padding: 20px; font-family: 'Press Start 2P', cursive;">404 - Page Not Found</span>
    <div class="card-action" style="text-align: center"><a href="{{ site.baseurl }}/">To new adventures!</a></div>
  </div>
</main>

